@charset "utf-8";

@font-face {
  font-family: "OpenDyslexic";
  src: url(../fonts/OpenDyslexic3-Regular.ttf);
}

$backgroundColor: #FFFFFF;
$text-color: #002439;

// Define defaults for each variable.

$base-font-family: "OpenDyslexic",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$code-font-family: "Menlo", "Inconsolata", "Consolas", "Roboto Mono", "Ubuntu Mono", "Liberation Mono", "Courier New", monospace;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$link-base-color-dark: #262626;
$link-visited-color-dark: #262626;
$link-hover-color-dark: #595959;
$link-base-color-light: #e5e5e5;
$link-visited-color-light: #e5e5e5;
$link-hover-color-light: #b2b2b2;

/**
 * Basic styling
 */
body {
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $backgroundColor;
  -webkit-text-size-adjust: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}