.wrapper-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    &.horizontal-centered {
        justify-items: center;
    }
    &.vertical-centered {
        align-items: center;
    }
    &.col-600 {
        @media only screen and (min-width: 1200px) {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            grid-template-rows: minmax(0, 1fr) minmax(0, max-content);
            grid-gap: 2%;
            overflow: hidden;
        }
    }
    &.col-500 {
        @media only screen and (min-width: 1024px) {
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
            grid-template-rows: minmax(0, 1fr) minmax(0, max-content);
            overflow: hidden;
            &.row-2 {
                grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
            }
        }
    }
    &.col-300 {
        .crew-item {
            justify-self: start;
        }
        @media only screen and (min-width: 900px) {
            overflow: hidden;
            grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
            &.row-2 {
                grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
            }
            &.row-5 {
                grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
            }

        }
        @media only screen and (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 2%;
            &.row-4 {
                grid-template-rows: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
            }
        }
    }
}

body {
    a {
        color: $secondary-color;
        text-decoration: none;
        
        &:visited {
            color: $secondary-color;
        }
        
        &:hover {
            color: $secondary-color;
            text-decoration: underline;
        }
    }
    header, footer {
        background-color: $primary-color;
        color: $on-primary-color;
        width: 100vw;
        min-height: max-content;
        a {
            color: $on-primary-color;
            text-decoration: none;
          
            &:visited {
              color: $on-primary-color;
            }
          
            &:hover {
              color: $on-primary-color;
              text-decoration: underline;
            }
        }
    }
    nav {
        div {
            width: 80%;
            margin: auto;
            justify-self: start;
            align-self: center;
        }
    }
    main {
        display: grid;
        place-items: center;
        max-width: 80vw;
        margin: 5% auto;
        section {
            margin: 2% auto;
            max-width: 80vw;
            &.hidden {
                display: none;
            }
            &.visible {
                display: block;
            }
        }
    } 
    figure {
        margin: auto;
    }
    img {
        width: 100%;
        max-width: 80vw;
        margin: auto;
    }
}

a.button {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: .75em 1em;
    border: none;
    border-radius: .2em;
    cursor: pointer;
    background-color: $secondary-color;
    color: $on-secondary-color;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    text-align: center;
    text-decoration: none;

    transition: all 0.15s linear;
    &:visited {
        color: $on-secondary-color;
    }
    &:hover
    {
    background-color: mix(#fff, $secondary-color, 20%);
    }
}