.current {
    color: green;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}

.wrapper-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    justify-items: center;
    &.col-500 {
        @media only screen and (min-width: 1024px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 2%
        }
    }
    &.col-300 {
        @media only screen and (min-width: 900px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 2%
        }
        @media only screen and (min-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-gap: 2%
        }
    }
}