---
layout: default
---
<h1>{{ page.name }}</h1>

{% assign filtered_posts = site.posts | where: 'puzzle-number', page.number %}
{% include filtered-posts.html puzzle_posts=filtered_posts %}

<section id="content-section{{ page.number }}" class="hidden">
  {% assign filtered_books = site.books | where: 'book-number', page.number %}
  {% for book in filtered_books %}
  {% if book.title %}<h1>{{ book.title }}</h1>{% endif %}
  {% if book.original-title %}<p>Titre original : {{ book.original-title }}</p>{% endif %}
  {% if book.author %}<p>Auteur : {{ book.author }}</p>{% endif %}
      <div class="wrapper-grid col-600">
        {% if book.img-url %}  
          <div>
              <img src="{{ book.img-url | absolute_url }}" alt="Couverture du livre">
          </div>
          {% endif %}
          <div>
              {{ book.content | markdownify }}
          </div>
      </div>
  {% endfor %}
</section>

<section class="visible" id="lock-section{{page.number}}">
  <p>Pour voir ce livre vous devez rentrer le mot de passe.</p>
  <p>{{page.clue}}</p>
  <input type="password" id="password-input{{page.number}}" placeholder="Enter password">
  <button onclick="unlockPage('{{ page.number }}', '{{ page.password }}')">Unlock</button>
  <p id="error-message{{page.number}}" class="hidden">Incorrect password, try again.</p>
</section>

<section class="pagination">
  {% if page.previous-page %}
    <a href="{{ page.previous-page | absolute_url }}" class="previous">Previous</a>
  {% endif %}

  {% if page.next-page %}
    <a href="{{ page.next-page | absolute_url}}" class="next">Next</a>
  {% endif %}
</section>


<script>
    // Check if the page was already unlocked
    if (localStorage.getItem('islocked'+'{{page.number}}') === "false") {
        document.getElementById('lock-section'+'{{page.number}}').classList.replace("visible", "hidden");
        document.getElementById('content-section'+'{{page.number}}').classList.replace("hidden", "visible");
    }
function unlockPage(number, password) {
  const inputPassword = document.getElementById(`password-input${number}`).value;
  cleanedpassword = inputPassword.normalize('NFD').replace(/[\u0300-\u036f]/g, '').replace(/\s/g,'').toLowerCase();
  if (cleanedpassword === password) {
      // Store in localStorage that this page is unlocked
      localStorage.setItem(`islocked${number}`, "false");
      
      // Hide the lock section and show the content
      document.getElementById(`lock-section${number}`).classList.replace("visible", "hidden")
      document.getElementById(`content-section${number}`).classList.replace("hidden", "visible")
  } else {
      // Show error message
      document.getElementById(`error-message${number}`).classList.replace("hidden", "visible")
  }
}
</script>
